<div id="<%= dom_id dog %>">
  <p>
    <strong>Name:</strong>
    <%= dog.name %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= dog.country %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= dog.url %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= dog.image %>
  </p>

  <p>
    <strong>Pdf:</strong>
    <%= dog.pdf %>
  </p>

</div>
